{{outlet}}

<div class="lock-screen">
{{#paper-sidenav-container class="inner-sidenav"}}
    {{#paper-sidenav
        class="md-whiteframe-z2"
        name="left"
        open=leftSideBarOpen
        onToggle=(action (mut leftSideBarOpen))
        lockedOpen=false
        closeOnClick=true
    }}

        {{#paper-toolbar as |toolbar|}}
            {{#paper-toolbar-tools}}Menu{{/paper-toolbar-tools}}
        {{/paper-toolbar}}
        {{#paper-content padding=true}}
            {{#paper-list}}
                {{#paper-item as |controls|}}
                    {{paper-icon "network-wifi"}}
                        <p>Jaa oma sijainti</p>
                    {{controls.switch secondary=true value=locationshare.enabled onChange=(action (mut locationshare.enabled))}}
                {{/paper-item}}

                {{paper-divider}}

                {{#paper-item onClick=(action "transitionToProfile")}}
                    {{paper-icon "account-circle"}}
                        <p>Käyttäjä</p>
                {{/paper-item}}

                {{#paper-item onClick=(action "transitionToSettings")}}
                    {{paper-icon "settings"}}
                        <p>Asetukset</p>
                {{/paper-item}}
            {{/paper-list}}
        {{/paper-content}}
    {{/paper-sidenav}}

    {{leaf-map}}

{{/paper-sidenav-container}}
</div>

{{!--
{{#leaflet-map id="map" lat=lat lng=lng zoom=zoom zoomControl=false crs=crs continuousworld=true worldCopyJump=false onMoveend=(action "updateCenter") }}
    {{tile-layer url="http://tiles.kartat.kapsi.fi/peruskartta/{z}/{x}/{y}.jpg" }}
    {{tile-layer
        url="https://{s}.kapsi.fi/mapcache/peruskartta_3067/{z}/{x}/{y}.png"
        tilesize=256
        tms=false
        continuousworld=true
        subdomains=subdomains
    }}
    {{tile-layer url="https://karttamoottori.maanmittauslaitos.fi/maasto/wmts/1.0.0/maastokartta/default/ETRS-TM35FIN/{z}/{x}/{y}.png"}}
    {{#marker-layer location=own}}
        {{#popup-layer}}
            Täsä sää oot
        {{/popup-layer}}
    {{/marker-layer}}
{{/leaflet-map}}
--}}